<header>

  <nav class="clearfix">
    <ul class="fr">
      <li><a routerLink="/post/list" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/reading" routerLinkActive="active">Reading</a></li>
      <li><a routerLink="/manage/list" routerLinkActive="active">Manage</a></li>
    </ul>
  </nav>
  <!-- <div class="inner">
    <div class="site-header-content">
      <h1 class="site-title">
        <img class="site-logo" src="/assets/images/qiaoba.jpg" alt="Shaodong's Blog">
      </h1>
      <h2 class="site-description">Done in two steps.</h2>
    </div>

    <nav class="site-nav">
      <div class="site-nav-left">
        <ul class="nav" role="menu">
          <li class="nav-home nav-current" role="menuitem"><a href="http://localhost:2368/">Home</a></li>
          <li class="nav-about" role="menuitem"><a href="http://localhost:2368/about/">About</a></li>
          <li class="nav-life" role="menuitem"><a href="http://localhost:2368/life/">Life</a></li>
        </ul>
      </div>
      <div class="site-nav-right">
          <div class="social-links"></div>
      </div>
    </nav>
  </div> -->
</header>