<footer>
  <div class="row clearfix">
    <div class="col-six fr tab-full">
      <ul class="footer-social hrefs">        
        <li><a target="_blank" href="http://i.youku.com/i/UMTMxNjI3ODcwOA==" title="youku channel">
          <svg class="icon youku" aria-hidden="true">
            <use xlink:href="#icon-youku"></use>
          </svg>
        </a>
      </li>
        <li><a target="_blank" href="https://weibo.com/u/3262570492">
          <svg class="icon weibo" aria-hidden="true">
            <use xlink:href="#icon-weibo"></use>
          </svg>
        </a>
      </li>
       
        <li><a target="_blank" href="https://github.com/TerminatorSd">
          <svg class="icon github" aria-hidden="true">
            <use xlink:href="#icon-GitHub"></use>
          </svg></a>
        </li>
        <li><a target="_blank" href="http://blog.csdn.net/qq_33594380" title="csdn blog">
          <svg class="icon csdn" aria-hidden="true">
            <use xlink:href="#icon-csdn"></use>
          </svg>
        </a>
      </li>
     </ul> 
    </div>
    <!-- copyright -->
    <div class="col-six tab-full">
      <div class="copyright">
          <span>Freestyle ShaoDong</span>
          <span>© Copyright ShaoDong 2018.</span>
      </div>
    </div>
  </div>
 </footer>