<div class="container">
  <div class="mpl-header">
    <d-button bsStyle="primary">确认</d-button>
    <sd-button typp="default" [routerLink]="['/manage/detail', 0]">新增</sd-button>
  </div>
  <div *ngFor="let item of postsList" class="item clearfix">
    <div class="left">
      <p class="title">{{ item.title }}</p>
      <span class="time">{{ item.created_at * 1000 | date: 'fullDate' }}</span> | 
      <span class="label">{{ item.label }}</span>
    </div>
    <div class="right">
      <sd-button type="default" [routerLink]="['/manage/detail', item._id]">查看</sd-button>
      <sd-button type="danger" class="ml-20" (click)="deletePost(item._id)">删除</sd-button>
    </div>
  </div>
  <sd-alert [hidden]="!alertVar.show" [text]="alertVar.text" [type]="alertVar.type"></sd-alert>
</div>
