.container {
  .rd-content {
    .rd-item {
      border-radius: 5px;
      margin: 20px 0;
      img {
        float: left;
        height: 200px;
        width: auto;
        border-right: 2px dashed #e1e1e1;
      }
      .rd-right-content {
        position: relative;
        height: 188px;
        padding: 5px 10px;
        border: 2px dashed #e1e1e1;
        border-radius: 5px;
        .rd-header {
          .title {
            display: block;
            font-size: 1.6rem;
          }
        }
        .rd-footer {
          position: absolute;
          width: 100%;
          bottom: 10px;
          .time {
            float: right;
            margin-right: 40px;
            color: #888;
          }
        }
      }
    }
  }
  .rd-add-new {
    margin: 20px 0;
    textarea {
      box-sizing: border-box;
      width: 100%;
    }
  }
}

