/* You can add global styles to this file, and also import other style files */
html {
  font-size: 125%;
  line-height: 1.5;
}
* {
  margin: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.fr {
  float: right;
}
.fl {
  float: left;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
textarea {
  padding: 8px 12px;
  border-color: #e1e1e1;
}
p {
  margin: 18px 0;
  line-height: 32px;
}

.container {
  width: 1200px;
  margin: 20px auto;
}

.ml-20 {
  margin-left: 20px;
}